.wrapper {
  display: grid;
  grid-template-columns: 1fr 36px;
  align-items: center;
}

.wrapper > input {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.wrapper > svg {
  grid-column: 2 / -1;
  grid-row: 1 / -1;
}
